body{
  background-color: #394867;
}
.container{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 100vh;
}
.App {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f1f6f9;
}
.dropdown{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.add-state-btn{
  margin-left: 10px;
}
.submit-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.selected-state{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.default-text{
  margin-top: 20px;
  margin-bottom: 50px;
}
.pop-select{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}
.checkbox-wrapper{
  border: 1px solid black;
  width: 125px;
  height: 30px;
  padding-top: 10px;
  margin: 2px;
  background-color: white;
  border-radius: 10px;
}
.checkbox-text{
  width: 100%;
  font-size: small;
}
.checkbox-selected{
  background-color: #9ba4b4;
}
.county-loading{
  margin-top: 20px;
}
