body{
  background-color: #394867;
}
.container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
}
.App {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f1f6f9;
}
.dropdown{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.add-state-btn{
  margin-left: 10px;
}
.submit-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.selected-state{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.default-text{
  margin-top: 20px;
  margin-bottom: 50px;
}
.pop-select{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.checkbox-wrapper{
  border: 1px solid black;
  width: 125px;
  height: 30px;
  padding-top: 10px;
  margin: 2px;
  background-color: white;
  border-radius: 10px;
}
.checkbox-text{
  width: 100%;
  font-size: small;
}
.checkbox-selected{
  background-color: #9ba4b4;
}
.county-loading{
  margin-top: 20px;
}
button{
  border: 2px solid #14274e;
  border-radius: 10px;
}
.submit-btn{
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar{
  text-align: center;
}
.graph-img{
  width: 75%;
  height: auto;
  border: 3px solid #9ba4b4;
  border-radius: 10px;
  margin-bottom: 5px;
}
.title-text{
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1f6f9;
  border: 2px solid #9ba4b4;
  border-radius: 10px;
}
#graph{
  border: 2px solid #9ba4b4;
  margin-bottom: 10px;
}
.download-btn{
  position: absolute;
  top: 62%;
  right: 21%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 99999;
}
.test-location-text{
  text-decoration: underline;
  font-weight: bold;
}
.test-location-title{
  font-size: medium;
}
.test-location-address{
  font-size: small;
}
